<p id="notice"><%= notice %></p>

<%= render 'new_event' %>

<br/ >
<hr style="position: relative; top: 5px;"/>
<h2>Previous Events</h2>
<div class="grid">
  <% @prev_events.each do |event|%>
    <%= render event %>
  <% end %>
</div>
<h2>Upcoming Events</h2>
<div class="grid">
  <% @next_events.each do |event|%>
    <%= render event %>
  <% end %>
</div>