  <%= form_with(model: @invitation, url: invitations_path, method: 'POST', local: true) do |form| %>
    <div class="">
      <%= form.hidden_field :event_id, class: 'form-control', value: event.id %>
      <div>
        <%= form.submit 'Attend Event' %>
      </div>
    </div>
  <% end %>